<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>

<form action="#" th:action="@{/classFinder/result}" th:object="${classStore}" method="post">

    <h1>Class Finder</h1><br/><br/>

    ClassName: <input id="className" th:field="*{className}" type="text"/> <br/>
    FullClassName: <input id="fullClassName" th:field="*{fullClassName}" type="text"/> <br/>

    Product: <select id="productCombo" th:field="*{productId}">
    <option value="NONE" label="--- Select ---" />
    <option th:each="product : ${productList}" th:value="${product.id}" th:text="${product.label}" ></option>
</select> <br/>

    Version: <select id="versionCombo" th:field="*{productVersion}">
    <option value="NONE" label="--- Select ---" />
    <option th:each="version : ${versionList}" th:value="${version.number}" th:text="${version.number}"  ></option>
</select> <br/>

    <input type="submit" value="Search"/>
</form>


</body>
</html>